.banners {
  @include flex($justify: center);
  gap: 17px;

  &__row {
    position: relative;
    flex: 0 1 99px;
    transform: translateY(-45%);
  }

  &__item {
    margin: 0 0 30px;

    svg {
      height: 99px;
    }
  }
}

.item-big {
  svg {
    height: 220px;
  }
}

.cover {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(18, 11, 31, 0.7);

  &_center {
    background: rgba(18, 11, 31, 0.3);
  }
}

.row-side {
  animation-name: move-elements-bottom;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes move-elements-bottom {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(50%);
  }

  100% {
    transform: translateY(100%);
  }
}

.row-center {
  animation-name: move-elements-top;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes move-elements-top {
  0% {
    transform: translateY(100%);
  }

  50% {
    transform: translateY(50%);
  }

  100% {
    transform: translateY(0);
  }
}
