@mixin font($size, $height: $size, $weight: 400, $style: normal) {
  font-weight: $weight;
  font-style: $style;
  font-size: $size;
  line-height: $height;
}

@mixin flex($display: flex, $direction: row, $wrap: nowrap, $justify: space-between, $align: center) {
  display: $display;
  flex-direction: $direction;
  flex-wrap: $wrap;
  align-items: $align;
  justify-content: $justify;
}
