$content-width: 1662px;

//Colors
$color-additional-fresh: #7ddacf;
$color-additional-purple: #9dadf2;
$color-main-blue: #478bf9;
$color-main-clean-white: #ffffff;
$color-main-deep-blue: #1e1231;
$color-main-navy-blue: #110a1d;
$color-transp-white-dark: #ffffff1f;
$color-transp-white-light: #ffffff99;

